<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="text-align: right;">
        Gestion des Etudiants 
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
        <table>
          <tr>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="EmployeeFirstName" matTooltip="Enter Employee FirstName" matInput placeholder="Nom :  " autocomplete="off">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!employeeForm.get('EmployeeFirstName').value && employeeForm.get('EmployeeFirstName').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="EmployeeLastName" matTooltip="Enter Employee LastName" matInput placeholder="Prenom : " autocomplete="off">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!employeeForm.get('EmployeeLastName').value && employeeForm.get('EmployeeLastName').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input matInput [matDatepicker]="picker" matTooltip="Enter Date Of Birth" formControlName="EmployeeDateNaiss" placeholder="Date de Naissance : " autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-error>
                <span *ngIf="!employeeForm.get('EmployeeDateNaiss').value && employeeForm.get('EmployeeDateNaiss').touched"></span>
              </mat-error>
            </td>
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input matInput [matDatepicker]="picker1" matTooltip="Enter Date Of Birth" formControlName="EmployeeDateEmbauche" placeholder="Date d'embauche : " autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-error>
                <span *ngIf="!employeeForm.get('EmployeeDateEmbauche').value && employeeForm.get('EmployeeDateEmbauche').touched"></span>
              </mat-error>
            </td>
        </tr>
        <!--Partie 1 -->

        <tr>
          <td class="tbl1">
            <mat-form-field class="demo-full-width">
              <input formControlName="EmployeeDesignation" matTooltip="Enter Employee FirstName" matInput placeholder="Poste : " autocomplete="off">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!employeeForm.get('EmployeeDesignation').value && employeeForm.get('EmployeeDesignation').touched"></span>
            </mat-error>
          </td>

          <td class="tbl1">
            <mat-form-field class="demo-full-width">
              <input formControlName="EmployeeSalary" matTooltip="EmployeeSalary" matInput placeholder="Salaire : " autocomplete="off">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!employeeForm.get('EmployeeSalary').value && employeeForm.get('EmployeeSalary').touched"></span>
            </mat-error>
          </td>

          <td class="tbl1">
            <mat-form-field class="demo-full-width">
              <input formControlName="EmployeeAdresse" matTooltip="EmployeeAdresse" matInput placeholder="Adresse : " autocomplete="off">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!employeeForm.get('EmployeeAdresse').value && employeeForm.get('EmployeeAdresse').touched"></span>
            </mat-error>
          </td>

          <td class="tbl1">
            <span>Gendre  </span>&nbsp;
            <mat-radio-group matTooltip="Enter Gender" formControlName="EmployeeGender">
              <mat-radio-button value="0" [checked]="isMale">M</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="1" [checked]="isFeMale">F</mat-radio-button>&nbsp;&nbsp;
            </mat-radio-group>
            <mat-error>
              <span *ngIf="!employeeForm.get('EmployeeGender').value && employeeForm.get('EmployeeGender').touched"></span>
            </mat-error>
          </td> 
      </tr>
      <tr>
      <td class="content-center">
        <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="!employeeForm.valid">Valider </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" mat-raised-button color="accent" matTooltip="Reset" (click)="resetForm()">Annuler </button>
      </td>
      <td>
        <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
          {{massage}}
        </p>
      </td>
      <td></td>
      <td></td>
    </tr>
 </table>

 <!--partie  2-->

 <br><br>
 <mat-form-field>
   <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
 </mat-form-field>
 &nbsp;&nbsp;&nbsp;&nbsp;
 <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="DeleteData()"><mat-icon>delete</mat-icon></button>
 

 <div>

  <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
    {{dataSource}}
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell  *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
      </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeFirstName">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Prenom  </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeFirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeLastName">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Nom  </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeLastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeDateNaiss">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Date Naissance  </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeDateNaiss | date:'dd-MM-yyyy'}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="EmployeeDateEmbauche">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Date d'embauche </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeDateEmbauche | date:'dd-MM-yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeSalary">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> salaire </mat-header-cell>
      <mat-cell   *matCellDef="let employee"> {{employee.EmployeeSalary}}        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeGender">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Gendre  </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeGender ==0? 'Male' : 'Female'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmployeeDesignation">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Poste  </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeDesignation}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="EmployeeAdresse">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Addresse </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> {{employee.EmployeeAdresse}} </mat-cell>
    </ng-container>

  

    <ng-container matColumnDef="Edit">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>

      <mat-cell  *matCellDef="let employee">

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" type="button" mat-raised-button color="accent" matTooltip="Edit" (click)="loadEmployeeToEdit(employee.EmployeeId)"><mat-icon>edit</mat-icon></button>
        <!--<button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="accent" matTooltip="Edit" (click)="loadEmployeeToEdit(employee.EmpId)">
          <mat-icon>more_vert</mat-icon>
        </button>-->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell  *matCellDef="let employee"> <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteEmployee(employee.EmployeeId)"><mat-icon>delete_forever</mat-icon></button></mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

      </form>
    </mat-card-content>
  </mat-card>
</div>